body {
	margin: 0px;
}

.top{
	background-color: 151524;
	color: FFF;
	padding: 15px;
}
.top:after {
	content: "";
	display: table;
	clear: both;
}

.column {
	width: 50%;
	float: left;
}

.left {
	text-align: left;
}

.right {
	text-align: right;
}

.fa {
  padding: 10px;
  font-size: 100px;
  text-decoration: none;
  color: FFF;
}

.fa:hover {
	opacity: 0.7;
}

.main {
	width: 50%;
	margin: auto;
}

.fill-link {
	text-decoration: none;
	color: black;
}

.icon {
	float: left;
	padding: 10px;
	padding-right: 15px;
}

.section {
	clear: both;
	margin: 0px;
}

.section img {
	height: 85px;
}