{% extends 'home/base.html' %}
{% load static %}

<!--
{% block head %}
	<link href="{% static 'blog/blog.css' %}" rel="stylesheet" />
{% endblock %}
-->

{% block content %}
	<div class="container">
		<div class="row main-top-margin text-center">
            <h1>Portfolio</h1>
        </div>
		<div class="middle-column text-justify">
			<h3> <strong>{{entry.title}} </strong></h3>
			<p> <strong> {{entry.date | date:"F Y"}} </strong></p>
			<p> {{entry.text|safe}} </p>
		</div>
	</div>
{% endblock %}