{% extends 'home/base.html' %}
{% load static %}

<!--
<br>
<h2></h2>
<p></p>
-->

{% block content %}

	<h1 style="text-align:center;">Projects</h1>
	
	<h2>This Website</h2>
	<p>I taught myself a bit of web design over the summer and managed to get this website up and running. You can read up on it a bit more at my <a href="www.lukelavine.com/blog">devblog</a>.</p>
	<br>
	<h2>Augmented Reality Product Viewer</h2>
	<p>For my senior design class I worked in a small team to make an augmented reality app for iOS that allowed potential customers to view products from the company that sponsored our senior project. Unfortunately I am not allowed to post the code online, but my contribution was helping with the app itself in the first semester and setting up the backend of the website interface during the second semester, which is where they uploaded the 3D models and all of the information about them. What this entailed was setting up a Flask server, a Nginx server, a Postgresql server, and an Apollo server, ensuring they could all communicate with one another.</p>
	<br>
	<h2>Yelp Database Viewer</h2>
	<p>For a class we worked in a small group to parse and insert datapoints from Yelp into a database using Postgresql and create an interface for viewing or modifying the data using C# and Windows Forms. You can checkout my code on my <a href="https://github.com/lukelavine/Yelp-Database-Application">github</a>.</p>
	<br>
	<h2>Linux Shell Simulator</h2>
	<p>For a class we had to write a program in C that had the basic functionality of a Linux Shell, which included commands like ls, cd, pwd, rm, mount, etc. You can checkout my code on my <a href="https://github.com/lukelavine/Linux-Shell-Simulator">github</a>.</p>
	<br>
	<h2>Transcript Reader</h2>
	<p>Created a program for a relative who works at a high school to read a students transcript and determine which classes they still need to take. Still currently being worked on, will upload to github soon.</p>
	<br>
	<h2>Boolean Decision Diagram Closure</h2>
	<p>For our algorithms class we had to write a Python script along with a package called pyeda to perform transitive closures on a boolean decision diagram in order to determine if a node could reach another node in an even number of steps. You can checkout my code on my <a href="https://github.com/lukelavine/BDD-Closure-Script">github</a>.</p>
	<br>
	
	<h1 style="text-align:center;">Experience</h1>
	<h3>Preface</h3>
	<p>If you would like a refrence for any of these jobs please contact me through my email or any of the links at the top of the page. After my internship ended in 2017 I decided it would be best to focus solely on school for my last few years as I knew the classes were getting more difficult.</p>
	<br>
	<h2>Dairy Maintenance</h2>
	<h3>Auburn Dairy, Summer of 2018</h3>
	<p>Performed various maintenance tasks required across the diary, mostly adding wiring for new machines. Biggest accomplishment was putting together and programming a control board for a new machine that was to be installed.</p>
	<br>
	<h2>IT Analyst Intern</h2>
	<h3>Schweitzer Engineering Labs, Spring 2016 to Summer 2017</h3>
	<p>Completed a year long internship with the IT department, performing various IT tasks. Biggest accomplishment was creating a Powershell script that ran everyday to check if there was any software the company used that needed to be updated, which would then notify me where to download it so I could push it to all of the computers in the company using Microsoft System Center Configuration Manager.</p>
	<br>
	<h2>Lifeguard/Maintenance</h2>
	<h3>AMG, KSTC, Fall of 2013 to Summer 2015</h3>
	<p>Taught people of all ages how to swim, vaccuumed pools, performed maintenance with pool chemicals and filters.</p>
	<br>

	<h1 style="text-align:center;">Education</h1>
	
	<h2>Washington State University</h2>
	<h3>Fall 2015 to Spring 2020</h3>
	<p>I went to WSU for a BS in Computer Science, taking classes such as Algorithms, Data Structures, and Databases. I was also a part of the Honors College. I also studied at ZHAW in Switzerland for a semester, taking courses like Intercultural Communications, Networking, Cloud Computing, and Internet of Things.</p>
	<br>
{% endblock %}
