{% extends 'home/base.html' %}
{% load static %}

{% block head %}
	<link href="{% static 'portfolio/portfolio.css' %}" rel="stylesheet" />
{% endblock %}

{% block content %}
	<div class="container">
		<div class="row main-top-margin text-center">
			<h1>Portfolio</h1>
			<h4>Past and current projects</hr>
		</div>
	
		<div class="card-container">
			{% for entry in entries %}
			<a href="{% url 'portfolio:detail' entry.id %}" class="card">
				<img src="{% static 'portfolio/'|add:entry.icon %}" width="50%" height="50%" style="display:block;margin:auto">
				<h2>{{entry.title}}</h2>
				<p>{{entry.text|striptags|truncatewords:35}}</p>
				<br>
			</a>
			{% endfor %}
		</div>
	</div>
{% endblock %}
