{% extends 'home/base.html' %}
{% load static %}

{% block content %}
	<div class="container">
		<div class="row main-top-margin text-center">
            <h1>Dev Log</h1>
            <h4>My thoughts and what I've been working on</h4>
        </div>
		
		{% for post in posts %}
				<div class="text-justify">
					<h3> <strong>Dev Log #{{post.id}}: {{post.title}} </strong></h3>
					<p> <strong> {{post.published | date:"F d Y"}} </strong></p>
					<p> {{post.text|safe}} </p>
				</div>
		{% endfor %}
	</div>
{% endblock %}
