{% extends 'home/base.html' %}
{% load static %}

{% block content %}
	<!--HEADER SECTION -->
	<div id="header-section">
        <div class="container">
            <div class="row centered">
                <div class="col-md-8 col-md-offset-2">
                    <h1><strong>LUKE LAVINE</strong>          
                     
                    </h1>
                     <br /> <br /> <br /> <br />
                    <h2><span>&nbsp;PROGRAMMING / IT&nbsp;</span></h2>
                     <br /> <br /> <br /> <br /> <br />
                  <a href="#about-section">  <i class="fa fa-angle-double-down fa-5x down-icon"></i> </a>
                </div>
            </div>
           
        </div>
       
    </div> 
    <!--ABOUT SECTION -->
    <div id="about-section" >
        <div class="container" >
            <div class="row main-top-margin text-center">
                <div class="col-md-8 col-md-offset-2 " data-scrollreveal="enter top and move 100px, wait 0.3s">
                    <h1>Who Am I ?</h1>
                    <h4>
                      Programmer, problem solver, dedicated.
                    </h4>
                </div>
            </div>
            <div class="row main-low-margin text-center">
                <div class="col-md-3 " data-scrollreveal="enter left and move 100px, wait 0.4s">
                    <img class="img-circle" src="{% static 'assets/img/team/pfp.jpg' %}" alt="" width="160" height=auto>
                    <h4><strong>Luke Lavine</strong> </h4>
                    <p>
                        Connect with me on social media, or send me an email at luke@lukelavine.com

                    </p>
                    <p>
					    <a href="https://www.linkedin.com/in/luke-lavine-9366971a6/"><i class="fa fa-linkedin-square fa-2x color-black"></i></a>
						<a href="https://www.github.com/lukelavine"><i class="fa fa-github fa-2x color-black"></i></a>
                        <a href="https://twitter.com/LukeLavine2"><i class="fa fa-twitter-square fa-2x color-black"></i></a>
                        <a href="https://www.instagram.com/lucas_lavine/"><i class="fa fa-instagram fa-2x color-black"></i></a>
                    </p>

                </div>
             
                <div class="col-md-7 col-sm-7 col-md-offset-1  text-justify" data-scrollreveal="enter right and move 100px, wait 0.4s">
                    <h3> Bio </h3>
                    <p>
                        Attended Washington State University from 2015 to 2020. Proficient with Windows, Linux, Python, C, C++, C#, SQL, among other talents.

                    </p>
                    <p>
                         I'm a quick learner, and very driven. If you want to see what I have done or what I'm currently working on you can check my portfolio and my dev blog below.

                    </p>
                </div>
            </div>
        </div>
    </div>
   
    <!--WORK/PRODUCTS SECTION -->
    <div id="products-section" >
         <div class="container" >
            <div class="row main-top-margin text-center" data-scrollreveal="enter top and move 100px, wait 0.3s">
                <div class="col-md-8 col-md-offset-2 ">
                    <h1>Portfolio and Dev Blog</h1>
                    <h4>
                       Current and Completed Projects
                    </h4>
                </div>
            </div>
             <!-- ./ Main Heading-->
             <hr />
            <div class="row main-low-margin" >
                <div class="col-md-10  col-md-offset-1 ">
 <div class="col-md-4 col-sm-4" data-scrollreveal="enter left and move 100px, wait 0.8s">
                    <img src="{% static 'assets/img/product/portfolio.png' %}" alt="">
                </div>
                <div class="col-md-8 " data-scrollreveal="enter right and move 100px, wait 0.4s">
                    <h4 >  <strong class="color-red"> Portfolio </strong></h4>
                    <p>
                        I've worked on a variety of projects. I've used programming languages like C, C++, C#, Python, and a bit of HTML and CSS. I've used databases like Postgresql and SQLite. I've worked with web backend technology like Apache, Nginx, Django, Flask, and AWS.
                    </p>
                    <p>
                        Projects I've worked on include:
                    </p>
                    <p>
                       <i class="fa fa-check"></i> This website (HTML, CSS, AWS)<br />
                       <i class="fa fa-check"></i> PDF Transcript Reader (C#)<br />
                       <i class="fa fa-check"></i> Python Scripts<br />
					   <i class="fa fa-check"></i> Linux Shell Simulator (C)<br />
                    </p>
		    <a href="{% url 'portfolio' %}" class="btn btn-success" >View All Projects</a>
                </div>
                </div>
               
            </div>
            <!-- ./ Row Content-->
            <hr />
           <div class="row main-low-margin bottam-pad" >

                 <div class="col-md-10  col-md-offset-1 ">
                <div class="col-md-8 " data-scrollreveal="enter left and move 100px, wait 0.4s">
                    <h4 >  <strong class="color-red"> Dev Blog </strong></h4>
                    <p>
                        If you want to read about what I've been working on lately, or a more thoughtful perspective of my projects then check this out. I talk about why I'm working on a project, what I hope to eventually accomplish with it, and what my struggles with them are.
                    </p>
                    <p>
                        Most Recent Post: {{recent_post.title}}
                    </p>
                    <a href="{% url 'blog:index' %}" class="btn btn-danger" >Read More Here</a>
                </div>
                <div class="col-md-4 " data-scrollreveal="enter right and move 100px, wait 0.4s">
                    
                    <img class="img-margin-product" src="{% static 'assets/img/product/blog.png' %}" alt="">
                </div>
                     </div>
            </div>
        </div>
    </div>

    <!-- JAVASCRIPT FILES PLACED AT THE BOTTOM TO REDUCE THE LOADING TIME  -->
    <!-- CORE JQUERY LIBRARY -->
    <script src="{% static 'assets/js/jquery.js' %}"></script>
    <!-- CORE BOOTSTRAP LIBRARY -->
    <script src="{% static 'assets/js/bootstrap.min.js' %}"></script>
     <!-- SCROLL REVEL LIBRARY FOR SCROLLING ANIMATIONS-->
    <script src="{% static 'assets/js/scrollReveal.js' %}"></script>
       <!-- CUSTOM SCRIPT-->
    <script src="{% static 'assets/js/custom.js' %}"></script>
{% endblock %}
