<!--
<head>
	<link rel="stylesheet" href="static/css/style.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
<div class="top">
	<div class="column left">
		<h1>Luke Lavine</h1>
		<img src="static/images/email.png" class="icon">
	</div>
	<div class="column right">
		<h1>Connect with me</h1>
		<a href="https://www.linkedin.com/in/luke-lavine-9366971a6/" class="fa fa-linkedin fa-2x"></a>
		<a href="https://twitter.com/LukeLavine2" class="fa fa-twitter fa-2x"></a>
		<a href="https://www.instagram.com/lucas_lavine/" class="fa fa-instagram fa-2x"></a>
		
	</div>
</div>
<div class="main">
-->
{% extends 'home/base.html' %}
{% load static %}

{% block content %}
	<div class="section">
		<a href="http://www.lukelavine.com/blog" class="fill-link">
		<div class="section_left">
				<h1>DevBlog</h1>
				<img src="static/images/blog.png" class="icon">
		</div>
		<div class="section_right">
			<h2>Most Recent Post</h2>
			<h4>{{recent_post.title}}</h4>
			<p>{{recent_post.text|linebreaks}}</p>
		</div>
		</a>
	</div>
	<div class="section">
		<a href="http://www.lukelavine.com/portfolio" class="fill-link">
		<div class="section_left">
			<h1>Portfolio</h1>
			<img src="static/images/portfolio.png" class="icon">
		</div>
		<div class="section_right">
			<h2>Highlights</h2>
			<h4>Projects</h4>
			<p>I've built this website from scratch using mainly Python, built an augmented reality app for iOS, built a database viewer for yelp data with Postgresql and C#, a linux shell simulator written in C, and more.</p>
			<h4>Experience</h4>
			<p>Worked maintenance at a dairy factory and an IT internship.</p>
			<h4>Eduction</h4>
			<p>Washington State University, BS Computer Science.</p>
		</div>
		</a>
	</div>
{% endblock %}
<!--
</div>
</body>
-->