<head>
	<link rel="stylesheet" href="static/css/style.css">
</head>
<body>
	<div class="header-grid">
		<div class="header-content">
		<img src="static/images/profile.jpg" class="profile-picture">
			<div class="info">
				<p>Lucas Lavine</p>
				<br>
				<img src="static/images/email.png">
				<br>
				<p>Test test test test</p>
				<!--Put social media link icons here-->
			</div>
		</div>
	</div>
	<div class="main">
		<a href="http://www.lukelavine.com/blog" class="fill-link">
			<div class="blog half">
				<img src="static/images/blog.png" class="icon">
				<br>
				<h1>Blog</h1>
			</div>
		</a>
		<a href="http://www.lukelavine.com/portfolio" class="fill-link">
			<div class="portfolio half">
				<img src="static/images/portfolio.png" class="icon">
				<br>
				<h1>Portfolio</h1>
			</div>
		</a>
	</div>
</body>